<h3>Clases Top </h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}<img src='{{hero.image}}'/></h4>
    </div>
  </a>
</div>