
<div *ngIf="hero">
  <h2>Detalles de la clase: {{hero.name}}</h2>
  <img src='{{hero.Bimage}}'/>
  <div>
    <label>Id: </label>{{hero.id}}</div>
  <div>
    <label>Alias</label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Atras</button>
  <button (click)="save()">Guardar</button>
</div>
