
<h2>Mis Clases</h2>
<div>
  <label>Clase:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Agregar
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <img src='{{selectedHero.image}}'/>
  <h2>
    Clase {{selectedHero.name | uppercase}}
  </h2>
     <button (click)="gotoDetail()">Ver detalles</button>
</div>